<% @page_title = "Article" %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">StageSpace</a>
					</div>
					<div>
						<ul class="nav navbar-nav">
							<li><%= link_to("Home", {:controller => 'welcome'}) %></li>
							<!--<li><a href="Account">Account</a></li>-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Submenu 1</a></li>
									<li><a href="#">Submenu 2</a></li>
									<li><a href="#">Submenu 3</a></li>
								</ul>	
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if current_user %>
								<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
							<% else %>
								<li><%= link_to("Sign In", new_user_session_path)%></li>	
							<%  end %>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>

<%= render 'articles/header'%>
   	 <p>Profile</p>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<%=  form_for(:user, :url => {:action => 'create', :id => current_user.id}) do |f| %>
			  <% if @user.errors.any? %>
			    <div id="error_explanation" class="alert alert-danger">
			      <h4>
			        <%= pluralize(@article.errors.count, "error") %> prohibited
			        this user from being saved:
			      </h4>
			      <ul>
			        <% @user.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
			      </ul>
			    </div>
			  <% end %>
			 
			  <p>
			    <%= f.label :first_name %><br>
			    <%= f.text_field :first_name, class: 'form-control' %>
			  </p>
			 
			  <p>
			    <%= f.label :last_name %><br>
			    <%= f.text_field :last_name, class: 'form-control' %>
			  </p>

			  <p>
			  	<%= f.label :username %><br>
			  	<%= f.text_field :username, class: "form-control" %>
			  </p>
			 	<p>
			    <%= f.label :age %><br>
			    <%= f.text_field :age, class: 'form-control' %>
			  </p>
			  <p>
			    <%= f.submit class: 'btn btn-success'%>
			  </p>
			 
			<% end %>
			<%= link_to("Back", {:action => 'show', :id =>@user.id}) %>
		</div>
		<div class="col-sm-8"></div>
	</div>
</div>